# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello", 12, True, 12.3)

Hello 12 True 12.3

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
print("Hello", 12, True, 12.3, sep='-')

Hello-12-True-12.3

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
print("Hello", end=' ')
print(12, end=' ')
print(False, end=' ')
print(56.78)

Hello 12 False 56.78

4) Can a python print function take no value to print???

In [8]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [9]:
name = "Mr. Ahmed"
age = 30
profession = "lawyer"
bachelor_year = 2005
firm = "The Himalya Associates"
location = "Karachi"
start_year = 2015
height = 5.10  # feet
weight_grams = 70600  # grams
monthly_income_pkr = 200000  # PKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [10]:
from datetime import datetime

current_year = datetime.now().year
years_since_bachelor = current_year - bachelor_year
print("Years since bachelor's degree:", years_since_bachelor)

Years since bachelor's degree: 20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [11]:
years_with_firm = current_year - start_year
print("Years with the firm:", years_with_firm)

Years with the firm: 10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [12]:
usd_to_pkr = 220  
monthly_income_usd = monthly_income_pkr / usd_to_pkr
print("Monthly income in USD:", monthly_income_usd)

Monthly income in USD: 909.0909090909091

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [13]:
if isinstance(monthly_income_usd, float):
    monthly_income_usd = int(monthly_income_usd)
print("Monthly income in USD (integer):", monthly_income_usd)

Monthly income in USD (integer): 909

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [14]:
print("Type of weight:", type(weight_grams))
weight_kg = int(weight_grams / 1000)
print("Weight in kg (integer):", weight_kg)

Type of weight: <class 'int'>
Weight in kg (integer): 70

In [15]:
current_year = datetime.now().year
age = 30  
year_of_birth = current_year - age

In [16]:
print("Year of birth of Mr. Ahmed:", year_of_birth)

Year of birth of Mr. Ahmed: 1995

In [ ]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [17]:
remainder = 100 % 6
print("Can Rs. 100 be divided equally among 6 students? Remainder:", remainder)

Can Rs. 100 be divided equally among 6 students? Remainder: 4

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [18]:
print("+" + "-"*34 + "+")
print("|" + "Saylani Mass IT".center(34) + "|")
print("+" + "-"*34 + "+")
print("| Name    : Nasir Hussain".ljust(34) + "|")
print("| Course  : AI and DS".ljust(34) + "|")
print("| Days    : Tuesday and Thursday".ljust(34) + "|")
print("| ID      : AI - 332909".ljust(34) + "|")
print("+" + "-"*34 + "+")

+----------------------------------+
|         Saylani Mass IT          |
+----------------------------------+
| Name    : Nasir Hussain         |
| Course  : AI and DS             |
| Days    : Tuesday and Thursday  |
| ID      : AI - 332909           |
+----------------------------------+